body{
    background-color:aliceblue ;
    font: normal 15pt Arial;
}

header{
    text-align: center;
}

main{
    background-color: #D3D0CB ;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px #2e5266;

}

footer{
    color:#6E8898 ;
    text-align: center;
    font-style: italic;
}

section{
    text-align: center;
    padding: 8px;
}